
<% if @greenspaces.any? %>
  <% @greenspaces.each do |greenspace| %>
    <h2><%= link_to greenspace.name, greenspace_path(greenspace) %></h2>
  <% end %>
<% else %>
  <h1> No greenspaces added yet</h1>
<% end %>

<%= link_to('Add a greenspace', new_greenspace_path)%>
