
<% if @greenspaces.any? %>
  <% @greenspaces.each do |greenspace| %>
    <h2><%= greenspace.name %></h2>
  <% end %>
<% else %>
  <h1> No greenspaces added yet</h1>
<% end %>

<a href='#'> Add a greenspace</a>
