
<% if @greenspaces.any? %>
  <% @greenspaces.each do |greenspace| %>
    <h2><%= link_to "Visit #{greenspace.name}", greenspace_path(greenspace) %></h2>
    <%= link_to "Edit #{greenspace.name}", edit_greenspace_path(greenspace) %>

  <% end %>
<% else %>
  <h1> No greenspaces added yet</h1>
<% end %>

<%= link_to('Add a greenspace', new_greenspace_path)%>
